<style>
    .imp {
        border-bottom: 3px solid rgb(255, 0, 0);
    }

</style>

{% extends 'todo/home.html' %}

{% block content %}


<div class="todo-container">
            
    <ul class="todo-list">
        {%for todo in todos %}
        <div class="todo">
            
                <li class="todo-li important">{{todo}}</li>
            <form class="important-btn-form" action="{% url 'important' todo.id %}" method="POST">
                    {% csrf_token %}
                    <button class="important-btn" type="submit"><i class="fas fa-exclamation"></i></button>
            </form>
            <form class="complete-btn-form" action="{% url 'completed' todo.id %}" method="POST">
                {% csrf_token %}
                <button class="complete-btn" type="submit"><i class="fas fa-check"></i></button>
            </form>
            <form class="thrash-btn-form" action="{% url 'delete' todo.id %}" method="POST">
                {% csrf_token %}
                <button class="thrash-btn" type="submit"><i class="fas fa-trash"></i></button>
            </form>
            
        </div>
        
        {% endfor %}
    </ul>
</div>

{% endblock %}